<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>우리당장만나</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            drawCalendar();
            initDate();
            drawDays();
            changeColor();
        })

        function drawCalendar() {
            var setTableHTML = "";
            setTableHTML += '<table class="calendar">';
            setTableHTML += '<tr><th>SUN</th><th>MON</th><th>TUE</th><th>WED</th><th>THU</th><th>FRI</th><th>SAT</th></tr>';
            for (var i = 0; i < 5; i++) {
                setTableHTML += '<tr height="50">';
                for (var j = 0; j < 7; j++) {
                    setTableHTML += '<td id="' + (i*7+j) + '"style="text-overflow:ellipsis;overflow:hidden;white-space:nowrap">';
                    setTableHTML += '    <div class="cal-day"></div>';
                    setTableHTML += '</td>';
                }
                setTableHTML += '</tr>';
            }
            setTableHTML += '</table>';
            $("#cal_tab").html(setTableHTML);
        }

        var today = null;
        var todayDayOfWeek = null;
        var todayDay = null;
        var todayMonth = null;
        var todayYear = null;
        var $tdDay = null;
        var dayCount = null;
        var firstDay = null;
        var lastDay = null
        var firstDayOfMonth = null;
        var lastDayOfMonth = null;
        var weekStartDate = null;
        // var weekEndDate = null;
        var thisWeekStartDate = null;
        // var thisWeekEndDate = null;
        var month = ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"];
        var nextLastDay = null;
        var nextLastDayOfMonth = null;

        //날짜 초기화
        function initDate() {
            $tdDay = $("td div.cal-day")
            dayCount = 0;
            today = new Date();
            todayDayOfWeek = today.getDay();
            todayDay = today.getDate();
            todayMonth = parseInt(month[today.getMonth()]);
            todayYear = today.getFullYear();
            firstDay = new Date(todayYear, todayMonth-1, 1);
            lastDay = new Date(todayYear, todayMonth, 0);
            nextLastDay = new Date(todayYear, todayMonth+1, 0);
            firstDayOfMonth = firstDay.getDate();
            lastDayOfMonth = lastDay.getDate()
            nextLastDayOfMonth = nextLastDay.getDate();
            weekStartDate = new Date(todayYear, todayMonth, todayDay - todayDayOfWeek);
            thisWeekStartDate = weekStartDate.getDate();
            // weekEndDate = new Date(todayYear, todayMonth, todayDay + (6-todayDayOfWeek));
            // thisWeekEndDate = weekEndDate.getDate()
        }

        //calendar 날짜 채우기
        function drawDays() {
            for (var i = 0; i < (lastDayOfMonth - weekStartDate.getDate() + 1); i++) {
                $tdDay.eq(i).text(todayMonth + "/" + thisWeekStartDate++);
                if( $tdDay.eq(i).text() == todayMonth + "/" + todayDay) {
                    $tdDay.eq(i).css("font-weight", "900");
                }
            }
            for (var i = (lastDayOfMonth - weekStartDate.getDate() + 1); i < lastDayOfMonth - weekStartDate.getDate() + nextLastDayOfMonth +1 ; i++) {
                $tdDay.eq(i).text(todayMonth+1 +"/" +firstDayOfMonth++);
            }
            for (var i = 0; i < 42; i += 7) {
                $tdDay.eq(i).css("color", "red");
            }
            for (var i = 6; i < 42; i += 7) {
                $tdDay.eq(i).css("color", "blue");
            }
        }

        function changeColor() {
            for(let k = 0; k<35; k++ ) {
                $("#"+k).click(function () {
                 if($("#"+k).css("background-color")=='rgba(0, 0, 0, 0)') {
                     $("#"+k).css("background-color", "lightskyblue");
                     return
                 }else {
                     $("#"+k).css("background-color", 'rgba(0, 0, 0, 0)');
                     return
                 }
            })
            }
        }
        function save_dates() {
            let dates = [];
            for(let l=0; l<35; l++) {
                if($("#"+l).css("background-color")=='rgb(135, 206, 250)') {
                    dates.push($tdDay.eq(l).text());

                }
            }
            //선택된 날짜 api post.
            let leader_name = "";
            var temp = location.href.split("?");
            leader_name = temp[1].split(":")[1];

            $.ajax({
                type: "POST",
                url: "/date",
                data: {dates_give: dates, id_give: leader_name},
                success: function (response) {
                    if (response["result"] == "success") {
                        location.href = "time?name:"+leader_name;
                    }
                }
            })
        }
    </script>
    <style type="text/css">
        .intro h1 {
            width: 280px;
            margin: 0 auto;
        }
         .intro h3 {
            width: 450px;
            margin: 0 auto;
            padding-top: 30px;
        }
        table {
            border: 1px solid black;
            display: inline-table;
            text-align: left;
            width: 500px;
        }
        table.calendar td {
            vertical-align: top;
            border: 1px solid skyblue;
            width: 100px;
        }
        .when_calendar {
            width: 500px;
            margin: 0 auto;

        }
        .step2_btn{
            width: 100px;
            margin-left: 80%;
        }

    </style>
</head>
<body>
<div class ="intro">
    <h1>모임날짜 선택하기</h1>
    <h3>주선자는 모임을 할 수 있는 날짜들을 클릭해주세요!</h3>
</div><br><br>
<div class="when_calendar">
    <div id="cal_tab" class="cal"></div>
</div>
<div class="step2_btn">
    <button type="button"  onclick="save_dates()"> 다음 STEP</button>
</div>
</body>
</html>