<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>우리당장만나</title>
    <style type="text/css">
        .intro h1 {
            width: 400px;
            margin: 0 auto;
        }
        /* .intro h3 {*/
        /*    width: 450px;*/
        /*    margin: 0 auto;*/
        /*    padding-top: 30px;*/
        /*}*/
        /*.step2_btn{*/
        /*    width: 100px;*/
        /*    margin-left: 80%;*/
        /*}*/
    </style>
</head>
<body>
<div class="intro">
    <h1>우리가 만날 수 있는 시간!</h1>
</div>
<div class = "when_result">

</div>
<div class="step4_btn">
    <a>공유하기</a>
</div>
<div>
    <a>?</a>
</div>
</body>
</html>